<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-text、v-html、判斷式、迴圈</title>
</head>

<body>
    <!-- vue一定要建立一個div -->
    <div id="app">
        <!-- {{}} 和 v-text 是顯示文字的方法
            {{}}自由度較高、較好用 -->
        <h1>{{text}}</h1>
        <h1 v-text="text"></h1>

        <!-- img---------------------------------------------- -->
        <!-- 這樣寫會顯示文字 -->
        <h1>{{img}}</h1>
        <h1 v-text="img"></h1>
        <!-- v-html => 才會顯示html -->
        <div v-html="img"></div>

        <!-- 判斷式v-if：符合才出現在DOM-------------------------------->
        <p v-if="num===10">數字10 (v-if)</p>
        <p v-else-if="num < 10">數字小於10 (v-else-if)</p>
        <p v-else>數字大於10 (v-else)</p>
        <!-- 判斷式v-show：不符合時一樣會出現在html，但會變成display:none -->
        <p v-show="num===10">數字10 (v-show)</p>

        <!-- 迴圈 v-for---------------------------------------------- -->
        <ul>
            <!-- v-for下在哪個標籤，那個標籤就會重複出現幾次 -->
            <!-- v-for=" 值 in 陣列" -->
            <li v-for="value in phones">{{value}}</li>
            <!-- v-for=" (值, 索引) in 陣列" -->
            <li v-for="(value, index) in phones">{{index + 1}}: {{value}}</li>
        </ul>

        <!--v-if 和 v-for不能出現在同一個標籤上
            所以要用 template 分開-->
        <!-- <template></template>不會出現在html中 -->
        <ul>
            <template v-for="value in phones">
                <li v-if="value==='Nothing'">{{value}}</li>
            </template>
        </ul>

        <ul>
            <template v-if="num===10">
                <li v-for="value in phones">{{value}}</li>
            </template>
        </ul>
    </div>


    <!-- cdnjs > vue > 3.4.27 >vue.global.min.js -->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.min.js
        integrity="sha512-jDpwxJN+g4BhXLdba5Z1rn2MpR9L5Wp3WVf2dJt5A0mkPHnHLZHZerpyX4JC9bM0pkCL7RmAR8FwOm02h7RKFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    text: 'abc',
                    num: 10,
                    img: '<img src="https://picsum.photos/300/200/?random=10">',
                    phones: ['Nothing', 'iPhone', 'Samsung']
                }
            }
        }).mount('#app') // 表示掛載到頁面上的#app元素
    </script>
</body>

</html>