<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5. 計算屬性(computed) & 資料監聽(watch)</title>
</head>

<body>
    <div id="app">
        <input type="button" :value="num" @click="num++">
        <br>
        姓：<input type="text" v-model="lastName">
        <br>
        名：<input type="text" v-model="firstName">
        <br>
        <!-- 比較computed和methods---------------------------------------------------------------------- -->
        <!-- 只有fullName有用到的data有更新時， {{fullName}}才會重新渲染-->
        <!-- {{fullNameMathod()}} 和 {{lastName + firstName}}意思一樣
            當data有任何東西改變時，{{fullNameMathod()}}和{{lastName + firstName}}都會重新渲染 -->
        全名：{{fullName}} {{fullNameMathod()}} {{lastName + firstName}}
    </div>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.min.js
        integrity="sha512-jDpwxJN+g4BhXLdba5Z1rn2MpR9L5Wp3WVf2dJt5A0mkPHnHLZHZerpyX4JC9bM0pkCL7RmAR8FwOm02h7RKFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    firstName: '',
                    lastName: '',
                    num: 0
                }
            },
            // computed 是將現有資料(date)經過計算得到的動態"變數"，是readonly
            // 只有用到的data有變動時，computed才會執行（效能較好）
            computed: {
                fullName() {
                    console.log('computed 更新')
                    return this.lastName + this.firstName
                }
            },
            methods: {
                //只要data裡面有任何東西變動，methods就會執行（效能較差）
                fullNameMathod() {
                    console.log('methods 更新')
                    return this.lastName + this.firstName
                }
            },
            // watch： 當data有變化時，要執行的程式碼-------------------------------------------
            // function有兩參數可以用：修改後(newValue)、修改前(oldValue)
            // watch預設是淺層監聽：當物件/陣列有多層，只會偵測第一層，若要偵測多層須設定 deep:true
            watch: {
                // 寫法一：把data名稱當function名稱---------------------
                firstName(newValue, oldValue) {
                    console.log(`firstName:${oldValue} --> ${newValue}`)
                },
                // 寫法二：把data名稱當作物件的key---------------------
                // funtion部分固定寫handler{}，另外可以加上once等設定
                lastName: {
                    // handler(){}是固定寫法，是處理變更的function
                    handler(newValue, oldValue) {
                        console.log(`lastName:${oldValue} --> ${newValue}`)
                    },
                    once: true, // 表示只監聽一次
                }
            }
        }).mount('#app')



    </script>
</body>

</html>