<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homework</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="addItem">
            <input type="text" v-model="input" :style="{border: inputBorder}">
            <input type="submit" value="新增">
        </form>
        <ul>
            <li v-for="item in items">
                <input type="checkbox" name="" id="">
            </li>
        </ul>
    </div>



    <script src=https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.min.js
        integrity="sha512-jDpwxJN+g4BhXLdba5Z1rn2MpR9L5Wp3WVf2dJt5A0mkPHnHLZHZerpyX4JC9bM0pkCL7RmAR8FwOm02h7RKFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const { ref, reactive, computed } = Vue
        Vue.createApp({
            setup() {
                const input = ref('');
                const items = reactive([]);

                let id = 1

                // 新增文字到陣列裡面
                const addItem = () => {
                    // 兩個字以上才能新增
                    if (input.value.length < 2) return
                    items.push({ text: input.value, done: false, id: id++ })
                    // 清空輸入欄位
                    input.value = ''
                }

                // 小於兩個字時輸入欄位邊框是紅色，成功時是藍色，空白時是黑色
                const inputBorder = computed(() => {
                    if (input.value.length === 0) {
                        return '5px solid black'
                    } else if (input.value.length < 2) {
                        return '5px solid red'
                    } else {
                        return '5px solid green'
                    }
                })

                return {
                    input, inputBorder, addItem
                }
            }
        })
            .mount('#app')
    </script>
</body>

</html>